@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;

  &__logo {
    width: 200px;
    height: 200px;
  }

  &__desc {
    font-size: $font-size-lg;
    color: $color-text-tertiary;
  }
}
